<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <h1 style="text-align:center;">Stock News</h1>

    <div style="align-content: center;">
        <p class="my-5">
            <a href="/news/new-news" class="btn btn-primary" >Add Stock</a>
        </p>

        <div class="d-flex justify-content-center">
            <div class="border rounded p-2" style="width: 545px; overflow-x: auto;">
                <div class="d-flex flex-nowrap">
                    <div th:each="news : ${newsList}" class="border p-3 m-2 text-center"
                         style="width: 150px;">
                        <span th:text="${news.ticker}" class="d-block"></span>
                        <!-- Add other information here -->
                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>

    </div>
</div>
</body>
</html>